.catsense {
    margin-left: 20px;
    text-decoration: underline;
}

ul {
    margin-left: 20px;
}
 .mediatxt {
   text-align: center;
 }
 .catimage {
    text-align: center;
    
 }

 .catimage img {
    border-style: solid;
    border-color: red;
 }
 .Characteristics {
    border-color:red;
    text-align: center;
    border-style:solid
 }
 table, th, td {
  border: 1px solid black;
  
}

.lionimage {
    text-align: center;
}
.lionimage img {
    border-style: solid;
    border-color: red;
}