 body {
      
      display: flex;
      justify-content: center;
      align-items: center;
      height: 953px;
    }

    .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 196px;
    align-items: center;
}

    .column {
      display: flex;
      flex-direction: column;
      gap: 47px;
    }

    .row {
      display: flex;
      justify-content: center;
      gap: 99px;
    }

    .box {
      width: 140px;
      height: 140px;
      background-color: yellow;
      border: 2px solid black;
    }
