
body {
 background-image: url("backgroundimg.jpg");
 
}

.txth1 {
    text-align: center;
    color: white;
    font-size:25px;
}
.container1 {
   display: grid
;
    grid-template-columns: 277px 125px 149px;
    justify-content: center;
    grid-template-rows: 50% 50% 50%;
    color: aquamarine;
    position: relative;
    right: 54px;
        column-gap: 194px;

   
}


.txtquantity {
    text-align: center;
    font-size: 25px;
    color: white;
}

.txtinfo {
    text-align: center;
    font-size: 16px;
    color: rgb(255 255 255);
}

.testimonials {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: space-around;
     

}

.testimonial {
   background-color: aliceblue;
    height: 261px;
    width: 246px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    justify-content: space-between;
}
#testimonial1 {
    position: relative;
    top: 113px;
}
.message {
   padding: 10px;
}

.person1 {
    background-color: red;
    border-radius: 0 0 10px 10px;
    padding: 2px 18px;
    text-align: center;

}
.person1 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 21px;}

.person2 {
    background-color: rgb(41, 111, 121);
    border-radius: 0 0 10px 10px;
    padding: 2px 18px;
    text-align: center;
}
.person2 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 21px;}

.person3 {
    background-color: rgb(100, 77, 31);
    border-radius: 0 0 10px 10px;
    padding: 2px 18px;
    text-align: center;
}
.person3 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 21px;}

@media screen and (max-width: 900px) {
    #testimonial1 {
    position: relative;
    top: 0;}
    .container1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: 31%;
    color: aquamarine;
    position: relative;
    right: 1px;
    grid-column-gap: 161px
}
.testimonials {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
      row-gap: 74px;

}
 } 

 @media screen and (max-width: 1020px) {
    #testimonial1 {
    position: relative;
    top: 0;}
    .container1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: 31%;
    color: aquamarine;
    position: relative;
    right: 1px;
    grid-column-gap: 161px
}
.testimonials {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
      row-gap: 74px;

}
 } 


    
