nav {
    /* display: flex; */
   
    padding: 10px 20px;
    background-color: #030303;
}
.nav-logo {
    font-size: 24px;
    color: #fff;
}
.nav-link {
   font-size: 18px;
   position: absolute;
   right: 52px;
}
.nav-link a {
    color: #fff;
    text-decoration: none;
}
.nav-link a:hover {
    color: #888181;
}
.frist-rowpoduct {
    height: 600px;
}

.product0 {
    
    margin: 10px;
    position: relative;
    right: 30%;
    bottom: 550px;
}
.product1 {
   
    margin: 10px;
    position: relative;
    right: 10%;
    top: 24px;
}
.product2 {
   
    margin: 10px;
    position: relative;
    right: -10%;
    bottom: 1131px;
}
.product3 {
    margin: 10px;
    position: relative;
    left: 30%;
    bottom: 1709px;
}


.kidpro0 {
    margin: 10px;
    position: relative;
    right: 30%;
    bottom: 407px;
}
.kidpro1 {
    margin: 10px;
    position: relative;
    right: 10%;
    top: 78px;
}
.kidpro2 {
    margin: 10px;
    position: relative;
    right: -10%;
    bottom: 939px;
}
.kidpro3 {
   margin: 10px;
   position: relative;
   left: 30%;
   bottom: 1424px;
}


.productwoman0 {
     margin: 10px;
    position: relative;
        right: 30%;
    bottom: 482px;
}
.productwoman1 {
     margin: 10px;
    position: relative;
    right: 10%;
    top: 49px;
}
.productwoman2 {
   margin: 10px;
    position: relative;
    left: 133px;
    bottom: 1014px;
}
.productwoman3 {
     margin: 10px;
    position: relative;
    bottom: 1545px;
    left: 398px;
}
.frist-rowpoduct > div {
  padding: 10px;
  text-align: center;
 
}

.price1 {
    text-decoration: line-through;
    color: #888181;
    position: relative;
    left: 41px;
    bottom: 53px;
    font-size: 15px;
}
.pricepromo {
    color: #227acc;
    position: relative;
    left: -15px;
    top: -17px;
    font-size: 17px;
}
.button-add {
    padding: 10px 20px;
    position: relative;
    bottom: 51px;
}
h2 {
    text-align: center;
    font-size: 34px;
    color: #000000;
    margin-bottom: -9px;
    position: relative;
    left: -8px;
}
.badge-new {
    border: rgb(0, 183, 255) solid;
    border-radius: 50%;
    position: relative;
    top: 101px;
    left: 705px;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 183, 255)
}
.badge-dis {
    border: red solid;
    border-radius: 50%;
    position: relative;
    top: 57px;
    left: 547px;
    height: 40px;
    width: 40px;
    background-color: red;
}
.discount-txt {
    position: relative;
    top: -3px;
}
.txt-new {
    position: relative;
    top: -3px;
}

.badge-newkid {
    border: rgb(0, 183, 255) solid;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    right: 42%;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 183, 255);
}


.txt-newkid {
    position: relative;
    top: -3px;
}

.badge-new-woman {
    border: rgb(0, 183, 255) solid;
    border-radius: 50%;
    position: relative;
    top: 57px;
    left: 709px;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 183, 255);
}
.txt-new-woman {
    position: relative;
    top: -3px;
}
.h2-men {
    position: relative;
    top: 36px;
}
footer {
    background-color: aliceblue;
    text-align: center;
}

.inline1 {
    display: inline-block;
    width: 100%;
}


.img-p-txt {
   font-size: 20px;
    color: #000000;
}