nav {
    /* display: flex; */
   
    padding: 10px 20px;
    background-color: #030303;
}
.nav-logo {
    font-size: 24px;
    color: #fff;
}
.nav-link {
   font-size: 18px;
   position: absolute;
   right: 52px;
}
.nav-link a {
    color: #fff;
    text-decoration: none;
}
.nav-link a:hover {
    color: #888181;
}
@media screen and (max-width: 768px) {
    .frist-rowpoduct {
   align-items: center;
}
    
}
.frist-rowpoduct {
    height: 600px;
  position: relative;
    left: 342px;
}

.product0 {
    
 
   position: relative;
    float: left;
 
    padding-left: 5px;
}
.product1 {
   
 
   position: relative;
    float: left;
 
    padding-left: 5px;
}
.product2 {
   
   
   position: relative;
    float: left;
   
    padding-left: 5px;
}
.product3 {
   position: relative;
    float: left;
    padding-left: 5px;
}


.kidpro0 {
    position: relative;
    float: left;
}
.kidpro1 {
    
    position: relative;
    float: left;
}
.kidpro2 {
    position: relative;
    float: left;
        bottom: 46px;

}
.kidpro3 {
  position: relative;
    float: left;
}

.productwoman0 {
      position: relative;
    float: left;
}
.productwoman1 {
     position: relative;
        float: left;
    }
.productwoman2 {
    position: relative;
            float: left;
        }
.productwoman3 {
     position: relative;
            float: left;
}
.frist-rowpoduct > div {
  padding: 10px;
  text-align: center;
 
}

.price1 {
    text-decoration: line-through;
    color: #888181;
    position: relative;
    left: 41px;
    bottom: 53px;
    font-size: 15px;
}
.pricepromo {
    color: #227acc;
    position: relative;
    left: -15px;
    top: -17px;
    font-size: 17px;
}
.button-add {
    padding: 10px 20px;
    position: relative;
    bottom: 51px;
}
h2 {
    text-align: center;
    font-size: 34px;
    color: #000000;
    margin-bottom: -9px;
    position: relative;
    left: -8px;
}
.badge-new {
    border: rgb(0, 183, 255) solid;
    border-radius: 50%;
    position: relative;
    top: 110px;
    left: 176px;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 183, 255)
}
.badge-dis {
    border: red solid;
    border-radius: 50%;
    position: relative;
    top: 57px;
    left: 8px;
    height: 40px;
    width: 40px;
    background-color: red;
}
.discount-txt {
    position: relative;
    top: -3px;
}
.txt-new {
    position: relative;
    top: -3px;
}

.badge-newkid {
    border: rgb(0, 183, 255) solid;
    border-radius: 50%;
    position: absolute;
    top: 47px;
    right: 16%;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 183, 255);
}


.txt-newkid {
    position: relative;
    top: -3px;
}

.badge-new-woman {
    border: rgb(0, 183, 255) solid;
    border-radius: 50%;
   position: relative;
    top: 52px;
    left: 174px;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 183, 255);
}
.txt-new-woman {
    position: relative;
    top: -3px;
}
.h2-men {
    position: relative;
    top: 36px;
}
footer {
    background-color: aliceblue;
    text-align: center;
}

.inline1 {
    display: inline-block;
    width: 100%;
}


.img-p-txt {
   font-size: 20px;
    color: #000000;
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    color: red;}

    .frist-rowpoduct > div {
            padding: 39px;
    text-align: center;
 }
@media screen and (max-width: 1400px) {
    .frist-rowpoduct {
        height: 600px;
        position: relative;
        left: 64px;
    } 
 } 
 